@implements IDisposable
@inject BlazorWasm.Client.Services.IBananaService BananaService

<div class="top-menu">
	<img src="icons/I_C_Banana.png" />
	<span class="popover-header">@BananaService.Bananas</span>
</div>

@code {
	protected override void OnInitialized()
	{
		base.OnInitialized();
		BananaService.OnChange += StateHasChanged;
	}

	public void Dispose()
	{
		BananaService.OnChange -= StateHasChanged;
	}
}
